{% extends 'basic.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="p-4 bg-light">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">Welcome to Library Management System</h1>
      <p class="col-md-8 fs-4">You can register as student. You will be able to issue any book thorugh the admin. After that you need to return the book within 14 days or else a fine of Rs 5 will be charged per day till the book is returned.</p>      
    </div>
    <br>
    <div class="container">
  <div class="row">

    <div class="col-lg-6", id="leftbox">
      <h2> Admin:</h2>
      <ul>
        <li>User Statistics (Out of Sccope and replaced with a placeholder)</li>
        <li>Add/Delete Books</li>
        <li>Issue/Return Books</li>
        <li>Fine Display</li>
        <li>View all Books</li>
        <li>View all Issued Books</li>
        <li>Delete a student's membership</li>
        <li>Permission Manager for requested books</li>
      </ul>
    </div>

    <div class="col-lg-6", id="rightbox">
        <h2>Student: </h2>
        <ul>
          <li>Reserve Book</li>
          <li>Request a new Book</li>
          <li>Fine Display</li>
          <li>View all Books</li>
          <li>View Reserved Books</li>
          <li>Edit Profile</li>
          <li>Change Password</li>
        </ul>
    </div>

  </div>
  </div>
</div>
{% endblock %}
