{% extends 'basic.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="p-4 bg-light">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">Welcome to Library Management System</h1>
      <p class="col-md-8 fs-4">You can register as student. You will be able to reserve any book as a student. After that you need to return the book within 14 days or else a fine of Rs 5 will be charged per day till the book is returned.</p>
    </div>
    <div class='container-fluid py-3'>
      <p  class="col-md-8 fs-5">The following features are implemented in this web app.<br>
      For the Admin:<br>
        <ul>
          <tr>Add/Delete Books</tr>
          <tr>Stats Display on Home Page</tr>
          <tr>Add/Delete Books</tr>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}
