{% extends 'admin_navbar.html' %}
{% load static %}
{% block title %} All Students List {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center"><u>All Requested Books</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Sr.No</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Student</th>
                <th>Student ID</th>
                <th>Branch</th>
                <th>Date of Request</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in details %}
            <tr class="text-center">
                <td>{{forloop.counter}}.</td>
                <td>{{i.3}}</td>
                <td>{{i.4}}</td>
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.5}}</td>
                <td>{{i.6}}</td>
                <td>{% if i.6 == "Rejected" %}
                        <a href="/delete_request/{{i.7}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this requested book details?')">Delete</a>
                    {% elif i.6 == "Accepted"%}
                        <a href="/admin_track_request/{{i.7}}/" class="btn btn-success">Track Request</a>
                    {% elif i.6 == "Pending" %}
                        <a href="/accept_request/{{i.7}}/" class="btn btn-warning">Accept</a>
                        <a href="/reject_request/{{i.7}}/" class="btn btn-danger">Reject</a>
                    {% endif%}
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
